
.contact-overlay {
    margin: 0;
    min-height: 600px;
    display: flex;
    align-items: start;
    padding: 3rem;
    position: relative;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10rem 5rem;
}

.contact-title {
    font-weight: 800;
    margin-bottom: 1.25rem;
    font-size: 3rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.contact-title span {
    color: var(--accent-color);
    animation: fadeInUp 1s ease;
}

.contact-content p {
    font-size: 1.25rem;
    line-height: 1.8;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0 3rem;
}

.call-box {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 1rem;
    padding: 0 5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    margin-bottom: 1rem;
}

.call-icon {
    display: inline-block;
    background: var(--accent-color);
    color: #ffffff;
    border-radius: 100%;
    padding: 0.5rem 1.25rem;
    font-size: 3rem;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 1;
    margin-bottom: 3rem;
}

.call-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: var(--accent-color);
    z-index: -1;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(71, 178, 228);
        transform: translate(-50%, -50%) scale(1.1);
    }
    70% {
        box-shadow: 0 0 0 18px rgb(39, 76, 156, 0);
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(10, 24, 89, 0);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.call-box a {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: #244ecf;
    margin-bottom: 1rem;
}

.expectations-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: var(--border-color);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    margin: 0 3rem;
}

.consultation-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: rgba(47, 123, 159, 0.55);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    margin: 1rem 3rem;
}

.consultation-box ul {
    list-style: none;
    padding: 0;
}

.consultation-box ul li {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    text-align: start;
}
